
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  width:100%;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #CECECE;
}

#fondo{
  background-color: #f2f2f2;
  background-repeat: no-repeat !important;
  background-size:cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  position: relative;
  width: 100%;
  height: 100%; 
  min-height: 1400px;
}

#fondo:before {
  width:100%;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #424242, #6d6d6d, #9b9b9b, #cccccc, rgba(255, 255, 255, 0.2));  
  opacity: .6;
  background-size:cover !important;
  background-attachment: fixed !important;
  background-position: center !important;
  z-index:0;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}

a:hover {
	color: white !important;
}

img, svg {
  max-width: 100%;
}
h4{
	color: rgba(155, 88, 214, 1) !important;
}
btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}

.articulo{
	padding-top: 100px;
	padding-bottom: 100px;
	width: 60%;
	display: flex;
	margin: auto;
	flex-flow: row wrap;
	position: relative;
}

.titulo{
	padding-top: 20px;
	flex-direction: row;
	width: 100%;
}

.titulo h1 {
  text-align: left;
  color: white;
	font-size: 2.125em;
	font-weight: 400;
	line-height: 1.3;
}

.titulo hr {
  width: 70%;
  text-align: left;
	float: left;
}

.izquierda {
	width: 60%;
	margin-right: -50px;
}

.galeriaP{
  width: 90%;
}

.carousel-inner{
  background: black;
}

.carousel-inner img {
    -webkit-filter: grayscale(30%);
    filter: grayscale(30%);
    width: 100%;
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}

.descripcion{
  width: 90%;
	flex-grow: 2;
	padding-top: 30px;
}

.descripcion p {
  padding: 2%;
  color:white !important;
background-color:rgba(41, 41, 41, 0.8);
  border: 1px solid black;
  border-radius: .25em;
  text-align: left;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Leer mas';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Leer menos';
}

.read-more-trigger {
	color: white !important;
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: white;
  font-size: .9em;
  line-height: 2;
  background-color: #985FB2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#985FB2), to(#713B8D));
  background-image: -webkit-linear-gradient(top, #985FB2, #713B8D);
  background-image: -moz-linear-gradient(top, #985FB2, #713B8D);
  background-image: -ms-linear-gradient(top, #985FB2, #713B8D);
  background-image: -o-linear-gradient(top, #985FB2, #713B8D);
  background-image: linear-gradient(to bottom, #985FB2, #713B8D);
}

.derecha {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.derecha .ofertaNueva {
	font-size: 20px;	
	margin-right: 10px;
	float:left;
}

.derecha .ofertaTachada{
	font-size: 20px;
	margin-right: 10px;	
	float:left;
	padding: 0 0 0 10px;
	color:grey;
	text-decoration:line-through;
	
}
.comprar {
 	width: 100%;
	border: 3px solid black;
	color:white !important;
	background-color:rgba(41, 41, 41, 0.8);
}

.comprar .elegir{
	text-align: right;
	width: 100%;
	padding-top: 30px;
}


.comprar .des_breve{
	padding: 10px 0 0 10px;
}

.registro{
  border:1px solid #7b4692; -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size:12px;
  padding: 10px 10px 10px 10px;
  text-decoration:none;
  display:inline-block;
  font-weight:bold;
  color: #FFF;
  background-color: #985FB2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#985FB2), to(#713B8D));
  background-image: -webkit-linear-gradient(top, #985FB2, #713B8D);
  background-image: -moz-linear-gradient(top, #985FB2, #713B8D);
  background-image: -ms-linear-gradient(top, #985FB2, #713B8D);
  background-image: -o-linear-gradient(top, #985FB2, #713B8D);
  background-image: linear-gradient(to bottom, #985FB2, #713B8D);
}

.registro:hover{
  color: #FFF !important;
  border:1px solid #613873;
  background-color: #7E4896;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7E4896), to(#7e4896));
  background-image: -webkit-linear-gradient(top, #7E4896, #7e4896);
  background-image: -moz-linear-gradient(top, #7E4896, #7e4896);
  background-image: -ms-linear-gradient(top, #7E4896, #7e4896);
  background-image: -o-linear-gradient(top, #7E4896, #7e4896);
  background-image: linear-gradient(to bottom, #7E4896, #7e4896);
}

.detalles{
  width: 100%;
  border: 3px solid black;
  text-align: left;
  color:white !important;
  background-color:rgba(41, 41, 41, 0.8);
  margin-top: 30px;
  min-height: 400px;
}

.detalles > * {
  margin-left: 10px;
}

.xml_request{
	padding: 0 0 10px 0;
	margin:auto;
	width: 60%;
	color:white !important;
	background-color:rgba(41, 41, 41, 0.9);
}
.xml_request .card-text{
	margin-right: 20px;
}


@media (max-width: 600px) {
  .aside { flex: 1 auto; }

  izquierda h1 {
    font-size: 2.2rem;
  }
}

@media all and (min-width: 1100px) {
  .izquierda    { flex: 3 0px; }
  .derecha { order: 2; }
  .izquierda    { order: 1; }
}


@media all and (max-width: 1100px) {
  .articulo {
    justify-content: space-around !important;
  }
}

@media all and (max-width: 1401px){
  .articulo{
    width: 70%;
  }
}

@media all and (max-width: 800px) {
  .articulo {
  	width: 100%;
    display: flex;
  }
  .izquierda {
  	order: 2;
  	margin:auto;
	width: 60%;
	}
	
  .derecha {
	order: 1;
  	margin:auto;
	width: 60%;
	margin-bottom: 40px;
  }
  #fondo {
    height: 100%; 
	min-height: 1700px;
  }
}