
.container {
  padding-top: 30px;
  width: 100%;
}

hgroup {
  padding-left: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

hgroup h1 {
  font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif;
  color: white;
  margin-top: 0;
  line-height: 1.15;
}

hgroup h2.lead {
  font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif;
  color: white;
  margin: 0;
  padding-bottom: 10px;
}

hgroup .text-danger {
  color: rgba(192, 134, 242, 1);
  margin-bottom: 20px !important;
}

.search-result .thumbnail {
  border-radius: 0 !important; }

.search-result:first-child {
  margin-top: 0 !important; }

.search-result {
  margin-top: 20px; }

.search-result .col-md-2 {
  border-right: 1px dotted #ccc;
  min-height: 140px; }

.search-result ul {
  padding-left: 0 !important;
  list-style: none;
}

.search-result ul li {
  font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;
  line-height: 30px;
  color: white;
}

.search-result ul li i {
  padding-right: 5px;
}

.search-result .col-md-7 {
  position: relative;
}

.search-result h3 {
  font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif;
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.search-result h3 > a, .search-result i {
  color: rgba(192, 134, 242, 1) !important;
}

.search-result p {
  font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif;
  color: white;
}

.search-result span.plus {
  position: absolute; right: 0; top: 126px;
}

.search-result span.plus a {
  color: white; padding: 5px 5px 3px 5px;
}

.search-result span.plus a:hover {
  color: white;
}

.search-result span.plus a i {
color: white; !important;
}

.search-result span.border {
  display: block; width: 97%;
  margin: 10px 15px;
  border-bottom: 1px dotted #ccc;
}

#todo{
	padding-top:50px;
	min-height: 1000px;
}

#todo h3{
	color:white !important;
}

#panel{
float:right;
padding: 90px 100px 0 0;
}

#panel .panel-default{
  color:white;
  border: 1px dotted #ccc;
  background-color: rgba(41, 41, 41, 0.40);
}

#panel .panel-heading{
  border: 1px dotted #ccc;
  background-color: rgba(238, 230, 230, 0.8);
}

#panel .buscar-central{
  float: right;
}

#cuadro{
  width: 80%;
  margin-bottom: 20px;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  margin:0 0 0 0  !important;	
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
	content: 'Show more'; 
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

#pagination{
	margin-top: 1700px !important;
	text-align: center;
	margin:auto;
}
