
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

body {
	line-height: 1;
	height: 100%;
	color: black;
	/* font-family: 'Barlow', sans-serif; */
	/* font-family: 'Roboto Condensed', sans-serif; */
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f2f2f2;
  font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #CECECE;
}

.informacion_articulo a {
	width:100%;
	text-align: left;
	padding-right:2px;
	float:left;
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}
.informacion_articulo em {
	float:left;}


img, svg {
  max-width: 100%;
}

hr {
  width: 60%;
  margin-top: 40px;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}
button:focus {
  outline: none;
}

.bp-header {
	padding-top:100px !important;
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 4em 1.875em 1.875em;
	text-align: center;
  color: white;
}

.bp-header h1 {
	font-size: 2.125em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 .6em 0;
}

.bp-header h1 > span {
	font-size: 50%;
	display: block;
	color: #ffffff;
}

@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    padding-top: 100px;
  }
  header h1 {
    font-size: 2.2rem;
  }
}

/* --------------------------------
Galeria
-------------------------------- */
#agrupar {
  width: 60%;
  margin: auto;
}

.ofertas {
  width: 100%;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.ofertas > li {
  margin-bottom: 2em;
  margin-top: 10px;
  width: 250px;/*Cambiar este parametro para poner mas o menos elementos*/
  text-align: left;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
}


/* --------------------------------
Producto
-------------------------------- */
.producto {
  position: relative;
}

.producto > a {
  display: block;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

}

.no-touch .producto:hover .barraBlanca, .producto.hover .barraBlanca {
  background-color:rgba(65, 65, 65,0.5);
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s 0s, visiblity 0s 0s;
  -moz-transition: opacity 0.2s 0s, visiblity 0s 0s;
  transition: opacity 0.2s 0s, visiblity 0s 0s;
}
.no-touch .producto:hover .barraBlanca-trigger, .producto.hover .barraBlanca-trigger {
  display: none;
}

/* --------------------------------
Product Slider
--------------------------------*/
.bordes img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

/* --------------------------------
Product Customization
-------------------------------- */
.barraBlanca {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content:space-around;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.barraBlanca .anadir {
  top: 10px;
  height: 34px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.barraBlanca .anadir {
  width: calc(50% - 23px);
}

.barraBlanca .anadir {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 34px;
}
.barraBlanca .anadir {
  color: #ffffff;
  background-color: #7E4896;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-touch .barraBlanca .anadir:hover {
  background-color: #7E4896;
}
.barraBlanca .anadir em {
  /* Texto del boton */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.barraBlanca .anadir svg {
  /* Icono de tick */
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  /* Centramos el icono*/
  -webkit-transform: translateX(50%) translateY(-50%);
  -moz-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  -o-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.barraBlanca .anadir.is-added em {
  /* Elimina el texto de anadir carrito*/
  color: transparent;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}
.barraBlanca .anadir.is-added svg {
  /* Efecto de tick */
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}


/* --------------------------------
Titulo y precio
-------------------------------- */
.informacion_articulo {
  padding: 1em .5em 0;
  color: #eeeeee;
  font-weight: bold;
  float: right;
}
.informacion_articulo::after {
  clear: both;
  content: "";
  display: table;
}
.informacion_articulo b {
}
.informacion_articulo em {
  color: #eeeeee;
}
.informacion_articulo a {
  color: #eeeeee;
}
.informacion_articulo a:hover {
  text-decoration: underline;
}

/* EXPLORAR */
/* Product grid */

.grid {
	position: relative;
	overflow: hidden;
	max-width: 1300px;
	margin: 0 auto;
	padding: 1.5em 0 8em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
}

/* Loader */
.grid__loader {
	display: none;
	margin: 3em auto 0;
}

.grid--loading .grid__loader {
	display: block;
}

/* Clearfix */

.grid:after {
	content: '';
	display: block;
  clear: both;
}

/* Grid items */
.grid__sizer,
.grid__item {
	position: relative;
	float: left;
	width: 20%;
	padding: .75em;
}

.no-touch .grid__sizer,
.no-touch .grid__item {
	padding: .75em .75em 1.25em;
}

.grid--loading .grid__item {
	visibility: hidden;
}

.grid__item--size-a {
	width: 40%;
}

/* Action style */

.action {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 1.05em;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: .25em;
	cursor: pointer;
	color: #fff;
	border: none;
	background: none;
}

.action:focus {
	outline: none;
}

.action--button {
	color: #5c5edc;
}

.no-touch .action--button:hover {
	color: #fff;
	outline: none;
}

.text-hidden {
	position: absolute;
	top: 200%;
}

/* Add to cart button */

.action--buy {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.85em 2.35em;
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	-webkit-transform: translate3d(-5px, 0, 0);
	transform: translate3d(-5px, 0, 0);
}

.no-touch .action--buy {
	opacity: 0;
}

.no-touch .grid__item:hover .action--buy {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* barra de filtros */
#anchoBarra{
	width: 100%;
	margin: auto;
	padding-bottom: 30px;
}

.bar {
	width: 60%;
	margin: auto;
	padding: 10px;
	text-align: left;
	background-color: rgba(41, 41, 41, 1);
	-webkit-transform: translate3d(0, 0, 0);
}

.flexbox .filter {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content:flex-start;
}

/* Filter */

.filter__label {
	font-size: .85em;
	display: inline-block;
	margin: 0 2%;
	font-weight: bold;
	color: #393A3F;
}

.filter__item {
	font-weight: bold;
	margin: 0 2%;
	padding: .1em;
	vertical-align: middle;
	color: #a3a3b3;
	border-bottom: 2px solid transparent;
}

.filter__item--selected {
	color: #5c5edc;
	border-color: #5c5edc;
}

.filter__item .icon {
	font-size: 1.75em;
	display: none;
}

/* Shopping cart */

.cart {
	font-size: 1.5em;
	position: absolute;
	top: 13px;
	right: 0;
	overflow: hidden;
	height: 100%;
	padding: 0 1.195em;
	cursor: pointer;
	color: #abacae;
	border: none;
	background-color: rgb(41, 41, 41);
}

.no-touch .cart:focus,
.no-touch .cart:hover {
	color: #fff;
	outline: none;
}

.cart--animate .cart__icon {
	-webkit-animation: cartAnim .4s forwards;
	animation: cartAnim .4s forwards;
}

@-webkit-keyframes cartAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(50px, 0, 0);
		transform: translate3d(50px, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-50px, 0, 0);
		transform: translate3d(-50px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes cartAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(50px, 0, 0);
		transform: translate3d(50px, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-50px, 0, 0);
		transform: translate3d(-50px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.cart__count {
	font-size: 9px;
	font-weight: bold;
	line-height: 15px;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 15px;
	height: 15px;
	margin: -16px 0 0 0;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: #5c5edc;
}

.cart--animate .cart__count {
	-webkit-animation: countAnim .4s forwards;
	animation: countAnim .4s forwards;
}

@-webkit-keyframes countAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 80px, 0);
		transform: translate3d(0, 80px, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -80px, 0);
		transform: translate3d(0, -80px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes countAnim {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(0, 80px, 0);
		transform: translate3d(0, 80px, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, -80px, 0);
		transform: translate3d(0, -80px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}
/* Media querys de la barra y el grid */

@media screen and (max-width: 65em) {
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 33.333%;
	}
}

@media screen and (max-width: 50em) {
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 50%;
	}
	.bar {
		padding-left: 0;
		text-align: left;
	}
}

@media screen and (max-width: 40em) {
	.bar {
		padding: .5em 4.5em .5em 0;
	}
	.flexbox .filter {
		-webkit-justify-content: space-around;
		justify-content: space-around;
	}
	.filter__item {
		height: 100%;
		padding: .5em .1em;
		border: none;
	}
	.filter__item .icon {
		display: inline-block;
	}
	.filter__label,
	.action__text {
		display: none;
	}
	.cart {
		padding: 0 1em;
	}
}

@media screen and (max-width: 25em) {
	.grid {
		max-width: 75%;
	}
	.grid__loader {
		margin: 0 auto;
	}
	.grid__sizer,
	.grid__item,
	.grid__item--size-a {
		width: 100%;
	}
	.action--buy {
		font-size: 1.5em;
		padding: 1.15em 1.5em;
		-webkit-tap-highlight-color: transparent;
	}
}
