#perfil{
    width: 100%;
    padding: 100px 0 100px 0;
}

#centrar{
  padding-top: 30px;
  margin: auto;
}

/* Css de la barra de navegacion */
.barra {
  background-color: rgba(41, 41, 41, 0.91);
  box-shadow: 0 0 40px rgba(0,0,0,.4);
  border-style: none !important;
  padding:10px 10px 0px 10px !important;
}

.barra > li {
  border-style: none !important;
}

.barra > li> a {
  margin-left: 10px;
  text-decoration: none;
  color:white;
  margin-bottom: 10px !important;
}

.barra > li > a:active {
  background-color: red !important;
  border-style: none !important;
}

.barra .active a {
  background-color: rgba(200, 200, 200, 0.5) !important;
  border-style: none !important;
}

.barra > li > a:hover, a:active, a:focus{
  border-style: none !important;
  background-color: rgba(200, 200, 200, 0.5) !important;
}
.nav-tabs > li > a{
  border-style: none !important;
}

#centrar p {
  padding-top: 40px;
}

#biblioteca   {
  margin: auto;
  width: 97%;
background-image: linear-gradient(to bottom, #898989, #696675, #4c4560, #30264c, #150637);
  border-style: none;
}


#ajustes{
  margin-top: -30px !important;
}

#ajustes > .container >.well {
  width: 97%;
background-image: linear-gradient(to bottom, #898989, #696675, #4c4560, #30264c, #150637);
  color: white !important;
  border-style: none;
  
}

.btn-warning{
  border:1px solid #7b4692 !important;
  background-color: #985FB2 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#985FB2), to(#713B8D));
  background-image: -webkit-linear-gradient(top, #985FB2, #713B8D);
  background-image: -moz-linear-gradient(top, #985FB2, #713B8D);
  background-image: -ms-linear-gradient(top, #985FB2, #713B8D);
  background-image: -o-linear-gradient(top, #985FB2, #713B8D);
  background-image: linear-gradient(to bottom, #985FB2, #713B8D);
}

#biblioteca .juegos{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 500px;
}
#biblioteca .juegos .container{
  padding: 0;
  margin: 10px 10px 20px 10px;
}

#biblioteca figure.juego {
  color: #fff;
  float: left;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  width: 100%;
  border-radius: 0px;
}
#biblioteca figure.juego * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
#biblioteca figure.juego img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.7;
}
#biblioteca figure.juego figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
}

#biblioteca figure.juego a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
#biblioteca figure.juego a:hover {
  background-color: rgba(0, 0, 0, 1);
}

#biblioteca figure.juego:hover img,
#biblioteca figure.juego.hover img {
  opacity: 0.1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#biblioteca figure.juego:hover a,
#biblioteca figure.juego.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
